* {
    font-family: 'Roboto' 'Georgia', 'Times New Roman', Times, serif;
}

nav {
    /* background: rgb(2, 2, 179); */
    background-color: rgb(1, 1, 58);
}

h1 {
    color: white;
    font-family: 'Oswald';
    margin-top: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 10px;
    border-right: 5px solid rgb(139, 1, 1);
}

a {
    text-decoration: none;
    color: white !important;
    font-family: 'Oswald';
    font-size: 20px; 
    font-weight: 600;
}

a:visited {
    color: white;
    text-decoration: none;
}
