<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	
		<!-- this will be "inserted" at the top of every body tag of every html file -->
		<header class="container-fluid clearfix" th:fragment="nav">
	    	<h1>Commons 2 Floor 3</h1>
	        <nav>
				<ul>
	          		<li id="home"><a href="/">Home</a></li>
	                <li id="meet"><a href="/team">Meet the Team</a></li>
	                <li id="gallery"><a href="/photo-gallery">Photo Gallery</a></li>
	                <li id="gallery"><a href="/contact">Contact</a></li>
	                <!-- <li id="contact"><a href="/register-page">Register</a></li> -->
	            </ul>
			</nav>
		</header>
		
	</body>
</html>