#title {
    color: black;
    text-align: center;
}

.profile {
    text-align: center;
    border: 10px solid rgb(1, 1, 58);
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 20px 20px 10px -10px gray;
}


.profile h3 {
    border: 5px solid skyblue;
    border-radius: 15px;
    background-color: skyblue;
    margin: 10px;
    padding: 2%;
}


.profile img {
    width: 100%;
    margin: 0 auto;
    border-radius: 100%;
}

.long-photo {
    height: 65%;
}


@media (min-width : 1300px) {


    .long-photo {
        height: 65%;
    }
}

@media (max-width : 388px) {

    .long-photo {
        height: 30%;
    }
}


