#title {
    color: black;
    text-align: center;
}

.card {
    width: 75%;
    text-align: center;
    border: 10px solid rgb(1, 1, 58);
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 20px 20px 10px -10px gray;
}

.card-header {
    color: black;
}


.link {
    color: #000;
}

.link:visited {
    text-decoration: none;
    color: black;
}

.link-text {
    border: 5px solid skyblue;
    border-radius: 15px;
    background-color: skyblue;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 2%;
}

.card-image {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20%;
    border-radius: 100%;
}


