#title {
    color: black;
    text-align: center;
}

.card {
    width: 75%;
    text-align: center;
    border: 10px solid rgb(1, 1, 58);
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 20px 20px 10px -10px gray;
}

.card-header {
    color: black;
}


.link {
    color: #000;
}

.link:visited {
    text-decoration: none;
    color: black;
}

.link-text {
    border: 5px solid skyblue;
    border-radius: 15px;
    background-color: skyblue;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 2%;
}

.card-image {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20%;
    border-radius: 100%;
}


@media (min-width: 768px) {

    #title {
        margin-bottom: 60px;
    }

    .josh-rozelle {
        width: 40%;
        float: left;
        margin-left: 20px;
    }

    .grace-jones {
        width: 40%;
        float: right;
        margin-left: 20px;
        margin-top: 0;
    }

    .jake-zook {
        width: 40%;
        float: left;
        margin-left: 20px;
    }

    .emma-ockerman {
        width: 40%;
        float: right;
        margin-left: 20px;
    }


}

@media (min-width: 1024px) {

    #main {
        position: relative;
        height: 1100px;
    }

    .josh-rozelle {
        position: absolute;
        top: 0;
        left: 5%;
        width: 32%;
    }

    .grace-jones {
        width: 32%;
        position: absolute;
        top: 0;
        right: 5%;
    }

    #grace {
        width: 50%;
    }

    .jake-zook {
        width: 32%;
        position: absolute;
        left: 5%;
        bottom: 0;
        margin-top: 70px;
    }

    #jake {
        width: 55%;
    }

    .emma-ockerman {
        width: 32%;
        position: absolute;
        bottom: 0;
        right: 5%;
    }

    #emma {
        width: 60%;
    }

}